<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/create-entry']">
        <ion-icon name="add-circle"></ion-icon>
        <ion-text> Add</ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title>Timetable Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mainPageRender" *ngIf="timetableEntrys.length > 0 ">

    <ol>

        <li *ngFor="let day of periods.keys()">
            <ion-list-header>{{day}}</ion-list-header>
            <div class="Container" *ngFor="let p of periods[day]">
                <!-- Cards for timetabl e-->
                <!-- Retrieve from db and populate in single ion-card tag -->
                <!-- Local array with complete student object -->
                <ion-card>

                    <!-- Nested array 'subject_info' inside local student object array with subjects in it-->
                    <ion-card-header>
                        <ion-card-title>{{p.subject_name}}, {{p.subject_room}}</ion-card-title>
                    </ion-card-header>

                    <mat-card-actions class='buttons'>
                        <!-- Deletes by the subjects _id -->
                        <button mat-button color="warn" (click)="onDelete(p.id)">Delete Subject</button>
                        <!-- Edit subject information -->
                        <button mat-button color="primary" [routerLink]="['/edit-entry', p.id]">Edit</button>
                    </mat-card-actions>
                </ion-card>
            </div>
        </li>
    </ol>



</ion-content>
