<ion-header>
  <ion-toolbar>
    <ion-title>Edit Subject</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="content" *ngIf="subject && subject.length > 0">
    <!-- *ngIf="arr && arr.length > 0" is used to stop undefined at the moment of the template rendering -->
    <!--  TITLE  -->
    <h2 mat-dialog-title>Edit Subject</h2>
    <!--  FORM  -->
    <form class="subject-form" (submit)="onEditSubject(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input matInput type="text" name="subject_name" ngModel="{{subject[0].subject_name}}" required="true"
               placeholder="Module Name"
               #subject_name="ngModel">
        <mat-error *ngIf="subject_name.invalid">Please enter a name for the subject.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="subject_desc" ngModel="{{subject[0].subject_desc}}"
               placeholder="Module Description"
               #subject_name="ngModel">
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit" [disabled]="!postForm.form.valid">Update Post</button>
    </form>
  </div>

</ion-content>
