<div class="Container">
    <!-- Cards for subject-->
    <!-- Retrieve from db and populate in single ion-card tag -->
    <ion-card>
        <ion-card-header>
            <ion-card-title>Graph Theory</ion-card-title>
            <ion-card-subtitle>Description. 50% Exam 50% Project</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <h1>
                Subject Name
            </h1>
            <h1>
                Subject Description
            </h1>
            <h1>
                GradeType0
            </h1>
            <h1>
                GradeWeight0
            </h1>
            <h1>
                CurrentMark0
            </h1>
            <h1>
                Day0
            </h1>
            <h1>
                Room0
            </h1>
            <h1>
                Time0
            </h1>

            <ion-button>Modify Subject Info</ion-button>
            <ion-button>Delete Subject</ion-button>
        </ion-card-content>
    </ion-card>

    <!-- Button to create subject component -->
    <ion-button>Create New Subject</ion-button>

</div>

