<div class="mainPageRender" *ngIf="modules.length > 0 ">
    <div class="Container" *ngFor="let module of modules">
        <!-- Cards for subject-->
        <!-- Retrieve from db and populate in single ion-card tag -->
        <!-- Local array with complete student object -->
        <ion-card >
            <!-- Nested array 'subject_info' inside local student object array with subjects in it-->
            <ion-card-header>
                <ion-card-title>{{module.subject_name}}</ion-card-title>
                <ion-card-subtitle>{{module.subject_desc}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <p>
                    All info about grade input in here
                </p>

            </ion-card-content>
            <ion-button>Modify Subject Info</ion-button>
            <!-- Deletes by the subjects _id -->
            <ion-button (click)="onDelete(module.id)">Delete Subject</ion-button>
        </ion-card>

        <!-- Button to create subject component -->
        <ion-button>Create New Subject</ion-button>
    </div>
</div>

