<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-card class="welcome-card">
    <ion-img src="/assets/the_students_pocket.svg"></ion-img>
    <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to The Students Pocket</ion-card-title>
    </ion-card-header>
</ion-card>


<form class="subject-form" (submit)="login(loginForm)" #loginForm="ngForm">
    <!-- Error message div -->
    <mat-error>{{getErrorMessage()}}</mat-error>

    <mat-form-field>
        <input matInput type="text" name="student_id" ngModel required="true"
               placeholder="Student ID"
               #student_id="ngModel">
        <mat-error *ngIf="student_id.invalid">Please enter a student id.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" name="pin" ngModel
               placeholder="Pin number"
               #pin="ngModel">
    </mat-form-field>
    <br>
    <mat-card-actions>
        <button style="float: right" mat-raised-button color="accent" type="submit" [disabled]="!loginForm.form.valid">Login</button>
        <button mat-raised-button color="accent" [routerLink]="['/register']">Register</button>
    </mat-card-actions>
</form>


