<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Create Subject</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">
    <ion-card>
        <ion-card-content>
            <form class="subject-form" (submit)="addSubject(subject_form)" #subject_form="ngForm">
                <!-- Error message div -->
                <mat-error *ngIf="module_name.invalid">{{getErrorMessage()}}</mat-error>
                <ion-item>
                    <mat-form-field>
                        <input matInput type="text" name="module_name" ngModel required="true" placeholder="Module Name"
                               #module_name="ngModel">
                    </mat-form-field>
                </ion-item>
                <ion-item>
                    <mat-form-field>
                        <input matInput type="text" name="module_desc" ngModel placeholder="Module Description"
                               #module_desc="ngModel">
                    </mat-form-field>
                </ion-item>
                <ion-button type="submit" [disabled]="!subject_form.form.valid">Add Subject</ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
