<div class="content">
    <ion-header>
        <ion-title>Register</ion-title>
    </ion-header>

    <form class="register-form" (submit)="regUser(registerForm)" #registerForm="ngForm">
        <ion-input type="text" name="firstName" ngModel  required="true" placeholder="First name" ></ion-input>
        <ion-input type="text" name="lastName" required="true" placeholder="Second name" ></ion-input>
        <ion-input type="text" name="idNum"  required="true" placeholder="Student ID" ></ion-input>
        <ion-input type="password" name="pinNum" required="true" placeholder="Please enter a pin" ></ion-input>

        <ion-button type="submit" [disabled]="!registerForm.form.valid" >Register</ion-button>
    </form>
</div>
