<ion-content>
    <ion-header>
        Create Module
    </ion-header>
    <!-- Moodle Key, possible link up to enrolment page on moodle through link in resouces on home page -->
    <ion-item>
        <ion-label>Moodle Key:</ion-label>
        <ion-input>

        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Module Name:</ion-label>
        <ion-input>

        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Module Description:</ion-label>
        <ion-input>
        </ion-input>
    </ion-item>

</ion-content>


